.order_confirmation {
    height: calc(100vh - 400px);
    padding-top: 170px;
    margin-bottom: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  