.slider-wrapper {
  .pricebadge-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 18px;

    .pricebadge {
      border-radius: 4px;
      background-color: #f8f8f8;
      padding: 7px 15px;
      // width: 75px;
      white-space: nowrap;
    }
  }

  .sliderfill {
    background-color: #cc670a;
    // color: red;
  }
  .custom-thumb-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1px;
    .custom-thumb {
      background-color: #cc670a;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
    }
  }
}
