.optionstab {
  padding-right: 20px;
  .createoption {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 14px;

    .createbtn {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }
  }
  .optionflex {
    display: flex;
    gap: 24px;
    width: 100%;

    .leftsection,
    .rightsection {
      width: 50%;
    }
  }

  .searchinput {
    margin-top: 20px;
    margin-bottom: 14px;
  }

  .options {
    display: flex;
    gap: 20px;
    width: 50%;
  }

  .icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Specify the animation property and duration */
    
    &:hover {
      transform: scale(1.1); /* Specify the desired zoom-in factor */
    }
  }

}
