.review_section {
  padding: 25px 20px;
  width: 100%;
  .header_section {
    display: flex;
    gap: 35px;

    .left {
      .guidlines {
        width: 240px;
      }
    }

    .right {
      .ratinglist {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .item {
          display: flex;
          align-items: center;
          gap: 14px;
        }
        .progressbar {
          width: 115px;
          height: 13px;
          border-radius: 50px;
          background-color: #eeeeee;

          .bar {
            height: 100%;
            overflow: hidden;
            background-color: #cc670a;
            border-radius: 50px;
          }
        }
      }
    }
    .rating {
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      padding: 12px 20px;
      border-radius: 50px;
      width: fit-content;
      .star {
        display: flex;
        align-items: center;
      }
    }
  }

  .reviews {
    .product {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .edit-review-btn{
      background-color: #E8F9EA;
      font-weight: 600;
      font-size: 14px;
      padding: 4px 16px;
      border-radius: 50px;
    }
  
    .star {
      display: flex;
      align-items: center;
    }

    .like_dislike {
      display: flex;
    }
  }
}
