@import "../../styles/mediaquery";

.homepage-tile-container {
  .homepage-tile-webview {
    width: 100%;
    display: flex;
    gap: 20px;

    @include for_breakpoint("small-screen", "mobile") {
        display: none;
    }
    .section-one {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .section-two {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .subsection-one {
        width: 100%;
        display: flex;
        gap: 20px;
        overflow: hidden;
        .leftsection {
          width: 50%;
        }
        .rightsection {
          width: 50%;
        }
      }
      .subsection-two {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    .section-three {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .homepage-tile-mobileview {
    display: none;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    gap: 16px;
  
    @include for_breakpoint("small-screen", "mobile") {
      display: flex;
      flex-direction: column;
    }

    .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .rightsplit {
        display: flex;
        gap: 16px;

        .leftsection {
          width: 50%;
        }
        .rightsection {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      .leftsplit {
        display: flex;
        gap: 16px;

        .leftsection {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
        .rightsection {
          width: 50%;
        }
      }
    }
  }
}
