
.ag-root-wrapper {
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(137, 135, 135, 0.25);
    border-radius: 8px !important;
    // font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.ag-header {
    // background-color: rgb(251, 245, 245) !important;
    /* Add other styling properties as needed */
  }