.custom-iconbtn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    // background-color: rgb(248, 249, 248);
    background-color: #32893b;
    color: #ffffff;
  }
}
