
.productbadge {
    padding: 2px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  

.productbadge.sale {
    background-color: #ffe68d;
  }
  

.productbadge.out-of-stock {
    background-color: #FFCACA;
  }
  

.productbadge.best-seller {
    background-color: #369639;
  }
  