.cart-wrapper {
  padding: 25px 20px;
  display: flex;
  gap: 40px;
//   justify-content: space-between;
  .title {
    margin-bottom: 40px;
  }

  .cart {
    width: 100%;
  }

  .cartitems {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .carttotal {
    width: 450px;
    background-color: #F2FEF4;
    border-radius: 8px;
    padding: 20px;

    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 14px;
    .item{
        display: flex;
        justify-content: space-between;;
    }

    .btn {
        margin-top: 24px;
    }
  }
}
