@import '../../../styles/mediaquery';

.individual-register {
  .thirdparty {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .or {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include for_breakpoint('small-screen', 'mobile') {
      gap: 14px;
    }

    .checkbox-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 17px;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 37px;
  }
}
