.appearnceSettings {
    padding-top: 24px;
    background-color: #f4f4f4;
  
    .breadcrumb{
      padding-left: 20px;
      padding-bottom: 18px;
    }

    .switchbtn {
      width: 300px;
      margin-bottom: 14px;
      margin-left: 20px;
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      .title {
        display: flex;
        align-items: center;
        gap: 10px;

        .backbtn {
            cursor: pointer;
            padding-top: 3px;
        }
      }
    }
  }
  