.customtabs {
  width: 100%;
  background-color: #ffffff;
  padding-top: 14px;
  padding-left: 30px;

  .tablist {
    border-bottom: 2px solid #d8d8d8;
    padding: 0px;
  }

  .tabcursor {
    background-color: #444;
    border-radius: 8px;
    height: 3px;
    padding: 0;
    width: 100%;
  }

  .tabchips{
    padding: 0;
    margin-right: 7px;
  }
}
