.user_account {
  padding: 24px 20px;
  width: calc(100% - 340px);

  .account_form {
    display: flex;
    .stack {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 500px;
      padding-bottom: 24px;
      padding-top: 24px;
      padding-left: 20px;
      padding-right: 30px;
      padding-left: 30px;

      &:first-child {
        border-right: 1px solid #a4a4a4;
      }
    }

    .account_card {
      height: 146px;
      width: 100%;
      padding: 20px;
      background-color: #fafafa;
      display: flex;
      justify-content: space-between;
    }
  }
}
