.chatbot {
    background-color: #C92B2D;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    right: 14px;
    bottom: 100px;
    // right: 80px;
    // bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}