.brands_section_wrapper {
    padding: 24px;
  
    .brands_section {
      display: flex;
      gap: 20px;
  
      .forms {
        width: 70%;
      }
  
      .brandstab {
        display: wrap;
        max-width: 500px;
      }
    }
  }
  