.qr-tab-wrapper{

    display: flex;
    flex-direction: column;
    
}

.qr_item{

   margin: 5px;
}

.qr_text{

    font-size: 20px;
}

.order_text{

    font-size: 20px;
    font-weight: bold;
}
.qr_button{

    margin: 5px;
}