@import '../styles/mediaquery';

.welcome-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .welcome {
    width: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 205px;
    margin-bottom: 220px;

    @include for_breakpoint('small-screen', 'mobile') {
      width: 100%;
      margin-top: 160px;
      margin-bottom: 140px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
