@import "../../../styles/mediaquery";
@import "../../../styles/colors";

.product_details_wrapper {
  padding: 25px 20px;

  margin-bottom: 60px;

  .create-review-btn{
    background-color: #E8F9EA;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 50px;
  }

  .product_details {
    display: flex;
    gap: 80px;

    .prd_images-wrapper {
    }

    .prd_description {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .iconbtn {
      width: 50px;
      height: 46px;
      border-radius: 4px;
      border: 1px solid #686868;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .prd_images-wrapper {
      width: 100%;
    }
    .prd_images {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .prd_option {
      width: 200px;
    }

    .prd_details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-width: 560px;

      .prd_item {
        display: flex;
        gap: 10px;
        .sku_code {
          display: flex;
          align-items: center;
          gap: 14px;
        }
        .item_code {
          border-left: 2px solid #6b6b6b;
          padding-left: 10px;
          display: flex;
          align-items: center;
          gap: 14px;
        }
      }

      .prd_variant {
        .item {
          padding-top: 14px;
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }

      .variantimg {
        border: 1px solid #a5a5a5;
        border-radius: 50%;
        padding: 6px;
        overflow: hidden;
        padding: 2px;
        cursor: pointer;
      }
    }

    .accordianitem {
      border-top: 1px solid #111;
      // border-bottom: 1px solid #111;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .bulkprice-section {
      .bulktable {
        padding-top: 10px;
        table {
          border: 1px solid #c5c5c5;
          border-radius: 4px;

          th {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: left;
            color: #6b6b6b;
            font-size: 14px;
            font-weight: 400;
            border-bottom: 1px solid #c5c5c5;
          }
          td {
            padding: 10px;
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            border-bottom: 1px solid #c5c5c5;
          }
        }
      }
    }
    .contactus {
      max-width: 450px;
    }
  }

  .itemcard-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 47px;
    padding-bottom: 20px;

    @include for_breakpoint("small-screen", "mobile") {
      // padding-top: 22px;
      padding-top: 28px;
    }

    .header {
      display: flex;
      justify-content: space-between;

      @include for_breakpoint("small-screen", "mobile") {
        justify-content: flex-start;
      }

      .leftsection {
        width: 80px;

        @include for_breakpoint("small-screen", "mobile") {
          display: none;
        }
      }

      .scrollbuttons {
        display: flex;
        gap: 10px;
        align-items: center;

        @include for_breakpoint("small-screen", "mobile") {
          display: none;
        }
      }
    }

    .items {
      padding-top: 24px;
      display: flex;
      gap: 16px;
      overflow-x: auto;
      scroll-behavior: smooth;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      @include for_breakpoint("small-screen", "mobile") {
        padding-top: 20px;
      }
    }
  }
  .reviews_section {
    padding-top: 20px;
  }
}

.bulkrow {
  &:hover {
    cursor: pointer;
    background-color: #ebeaea;
  }
}
