@import "../../../app/styles/mediaquery";

.iconinput-wrapper {
  // padding: 0;
  // background-color: white;\
  padding-right: 2px;
  @include for_breakpoint("small-screen", "mobile") {
    height: 50px;
    border-radius: 8px;
    padding-right: 4px;
    outline-color: #fff;
    padding-left: 20px;
  }
}

.icon-input {
  outline-color: #fff;
  border-color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  
  @include for_breakpoint("small-screen", "mobile") {
    font-size: 14px;
  }
}

.icon-input::placeholder {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  @include for_breakpoint("small-screen", "mobile") {
    font-size: 14px;
  }
}

.iconinput-btn {
  outline: none;
  border-radius: 2px;
  background: #fff;
  outline: none;
  border: none;
  padding: 8px 12px;
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #3a3a3a;

  @include for_breakpoint("small-screen", "mobile") {
    max-height: 40px;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 20px;
  }
}

.iconinput-btn:hover {
  background: #f6faf6;
  transition: background 0.2s ease-in-out;
}
