@import "../../styles/mediaquery";
@import "../../styles/colors";

.wishlist-container {
  padding: 25px 20px;
  .products-wrapper {
    display: grid;
    width: 100%;
    justify-content: left;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    grid-gap: 4px;

    @include for_breakpoint("small-screen", "mobile") {
      // grid-template-columns: repeat(auto-fit, minmax(164px, auto));
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  
  .empty-wishlist {
    height: 200px;
  }

  .itemcard-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 47px;
    padding-bottom: 20px;

    @include for_breakpoint("small-screen", "mobile") {
      // padding-top: 22px;
      padding-top: 28px;
    }

    .header {
      display: flex;
      justify-content: space-between;

      @include for_breakpoint("small-screen", "mobile") {
        justify-content: flex-start;
      }

      .leftsection {
        width: 80px;

        @include for_breakpoint("small-screen", "mobile") {
          display: none;
        }
      }

      .scrollbuttons {
        display: flex;
        gap: 10px;
        align-items: center;

        @include for_breakpoint("small-screen", "mobile") {
          display: none;
        }
      }
    }

    .items {
      padding-top: 24px;
      display: flex;
      gap: 16px;
      overflow-x: auto;
      scroll-behavior: smooth;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      @include for_breakpoint("small-screen", "mobile") {
        padding-top: 20px;
      }
    }
  }

}
